default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: <%= ENV['PG_HOST'] %>
  username: <%= ENV['PG_USERNAME'] %>
  password: <%= ENV['PG_PASSWORD'] %>

test:
  <<: *default
  database: <%= ENV['PG_DATABASE_TEST'] %>

development:
  <<: *default
  database: <%= ENV['PG_DATABASE_DEV'] %>

production:
  <<: *default
  database: f<%= ENV['PG_DATABASE_PROD'] %>